body {
    background-color: mintcream;
}

.my-nav {
    background-color: #3c763d;
    padding: .3em;
}

.file-path {
    margin-top: 2em;
}

.upload-btn {
    margin-top: 2em;
}

.my-progress-bar {
    margin: .5em 0 .5em 0;
}

h3 {
    margin-bottom: 1em;
}

.jstree-disabled>.jstree-icon {
    -webkit-filter: none !important;
}

.small-margin {
    margin: .8em 0 .8em 0;
}

.no-margin {
    margin: 0 0 0 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#delete-button span{
    color:red;
}

#delete-button:hover{
    background-color:red;
}

#delete-button:hover span{
    color:white;
}

.list-group-hover .list-group-item:hover {
    background-color: #f5f5f5;
}
input.bigCheckBox { 
    width: 1em; 
    height: 1em; 
} 

.handle {
    cursor: move;
	cursor: -webkit-grabbing;
}