<div class="modal fade" id="uploadingModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">העלאת קבצים</h4>
                <h3 ng-class="recordings.length === numberUploaded ? 'alert-success' : 'alert-danger'">עלו {{numberUploaded}}/{{recordings.length}}</h3>
            </div>
            <div class="modal-body">
                <div ng-repeat="recording in recordings">
                    <div class="row my-progress-bar" ng-show="recording.uploadingModalProgress !== '0%'">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                aria-valuenow="{{recording.uploadingModalProgress}}" aria-valuemin="0" aria-valuemax="100"
                                style="width: {{recording.uploadingModalProgress}}">
                                {{recording.uploadingModalProgress}}
                            </div>
                        </div>
                    </div>
                    <p>{{$index+1}}. {{recording.name}}</p>
                    <p ng-cloak class="alert" ng-class="recording.uploadingModalProgress !== '0%' ? 'alert-success' : 'alert-danger'">
                        {{recording.uploadingModalText}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>