<ul ng-sortable="sortableConf">
    <li ng-repeat="recording in recordings" draggable="true">
        <div class="row input-group no-margin">
            <label class="input-group-addon handle" for="recordingSubject">{{$index + 1}}. כותרת השיעור</label>
            <input name="recordingSubject" class="form-control" type="text" ng-model="recording.name">
        </div>
        <div class="row input-group no-margin">
            <label class="input-group-addon handle">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span> שם ההקלטה</label>
            <input class="form-control handle" type="text" ng-model="recording.recording.name" disabled>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="delete-button" ng-click="deleteRecording($index)"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
    </li>
</ul>